

<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <h1 class="mt-4">Event for <%= link_to @meeting.campaign_name, @meeting.campaign%>: <%=@meeting.title%></h1>

        <hr>
        <p class="lead">
          <%=@meeting.description%>
        </p>
        <hr>
        <p class="lead">
          on <%=@meeting.start_time.strftime("%B %d, %Y at %I:%M%P")%>
        </p>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <% if (current_user && current_user?(@meeting.campaign.user)) || current_user_admin? %>
         <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Actions</h5>
          <div class="card-body">
            <%= button_to "Edit", edit_meeting_path, params: {campaign_id: @meeting.campaign_id}, :method => :get%>
            <p><%= button_to 'Delete', @meeting, params: {campaign_id: @meeting.campaign_id},method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>
        </div>
        <% end %>


      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->