 <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <div class="card my-4">
          <h1 style="padding-left: 30px">Edit <%=@user.name%></h1>
          <%= form_for(@user) do |f| %>
            <%= render "shared/errors", object: @user %>
            <fieldset>
              <ul style="list-style-type:none;">
                <li class="required">
                  <%= f.label :email %><br/>
                  <%= f.text_field :email %>
                </li>
                <hr>
                <p>
                <%= f.submit %>
                <%= link_to "Cancel", @user %>
                </p>
              </ul>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
</div>
