<%= form_for [campaign, game] do |f| %>
  <%= render "shared/errors", object: game %>
  <fieldset>
  <ul style="list-style-type:none;">
      <li class="required">
        <%= f.label :title %><br/>
        <%= f.text_field :title, autofocus: true %>
      </li>
      <li class="required">
        <%= f.label :description %><br/>
        <%= f.text_area :description, cols: 40, rows: 7 %>
      </li>
      <li>
        <%= f.label :image_file_name %><br/>
        <%= f.text_field :image_file_name %>
      </li>
    <hr>
    <p>
      <%= f.submit %>
      <%= link_to "Cancel", campaign %>
    </p>
  </ul>
  </fieldset>
<% end %>